.cabecalho {
background-color: #0E263D;
color: white;
display:flex;
justify-content: space-around;
}

.cabecalho-imagem{
    width: 10%;
}

.prova-imagem{
    width: 10%;
    margin: 0 500px;
}

.mapa-imagem{
    width: 10%;
    margin: 0 500px;
}
.pomodoro-imagem{
    width: 10%;
    margin: 0 500px;
}
.resumo-imagem{
    width: 10%;
    margin: 0 500px;
}

.rodape-imagem{
    width: 10%;
    margin: 0 500px;
}
.sabo-imagem{
    width: 10%;
    margin: 0 500px;
}